<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/normalize.css" />
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d7e8f7fb4c.js"
      crossorigin="anonymous"
    ></script>
    <script src="static/script.js"></script>
    <title>UNISA Computing</title>
  </head>
  <body>
    <nav class="nav-bar">
      <span class="heading">
        <h1>UNISA Computing</h1>
        <i class="fa-solid fa-computer"></i>
      </span>
      <ul>
        <li>
          <a href="{% url 'modules:index' %}" id="modules-select">Modules</a>
          <i class="fa-solid fa-book fa-bar"></i>
        </li>
        <li>
          <a href="#">About </a><i class="fa-solid fa-circle-info fa-bar"></i>
        </li>
        <li>
          <a href="#">Contact Us </a><i class="fa-solid fa-phone fa-bar"></i>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="banner">
        <p class="banner-text">
          Unlock Learning with UNISA Computing, Your All-in-One Study Hub
        </p>
        <p class="banner-text banner-text-desc">
          Link Up with Legends to Conquer Mind-Bending Challenges
        </p>
        <ul class="icons">
          <li><i class="fa-solid fa-database"></i></li>
          <li><i class="fa-solid fa-server"></i></li>
          <li><i class="fa-solid fa-network-wired"></i></li>
        </ul>
        <a href="{% url 'modules:index' %}">
          <button class="btn">See Modules</button></a
        >
      </div>
    </main>
  </body>
</html>
