.filter-container {
  display: grid;
  grid-template-columns: 420px 40px;
  gap: 10px 0px;
  align-items: flex-start;
}

.table-filter {
  padding: 10px;
  margin-bottom: 15px;
  width: 400px;
  border: 3px solid black;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}
.filter-button {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: default;
}
.filter-icon {
  font-size: 25px;
}
.table th {
  background-color: #427fef;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
