html {
  font-size: 62.5%;
}
body {
  /* padding-top: 10px; */
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(6, 72, 138, 0.949), gold);
  background-repeat: no-repeat;
  overflow: hidden;
}
nav {
  /* background: #000; */
  padding: 0.7rem;
  padding-top: 2rem;
  padding-left: 5rem;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.heading {
  margin-top: 10px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
nav a,
span {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

h1 {
  display: inline;
}

.fa-computer {
  font-size: 3.5rem;
  padding-left: 0.5rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.banner {
  width: 30%;
  text-align: center;
}
.banner-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
}

.banner-text-desc {
  font-size: 1.6rem;
  font-family: "Rye", Arial, Helvetica, sans-serif;
  color: rgb(59, 59, 59);
}

.icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons li {
  padding: 4rem;
  font-size: 5.5rem;
}

.btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border-radius: 2rem;
  padding: 1rem;
  border: none;
  background-color: #4b0082;
  color: lightgray;
}

.btn:hover {
  cursor: pointer;
  background-color: #994ccc;
}

.drop-down {
  margin-left: 5rem;
}

.modules-panel {
  display: none; /* TODO */
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  border-radius: 10px;
}

.drop-down {
  background: none;
  opacity: 1;
  border: none;
}

.fa-bar {
  color: #ccc;
}

#the-select{
  background-color: #ccc;
  border-radius: 10px;
}

@media screen and (min-width: 868px) {
  nav ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    margin: 0 1rem;
    font-size: 2rem;
  }
}

.table {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 868px) {
  h1 {
    display: none;
  }
  nav {
    padding: 0.7rem;
  }
  nav li {
    margin: 0.5rem 1rem;
  }
  .banner {
    width: 250px;
    text-align: center;
  }
  .banner-text {
    font-size: 2.2rem;
  }
  .banner-text-desc {
    font-size: 1.1rem;
  }
  .main {
    height: 50%;
  }
  .icons li {
    padding: 3rem;
    font-size: 5rem;
  }
  .modules-panel {
    display: none;
    justify-content: center;
    margin: 0 3rem 0 -3rem;
  }
}
