{% extends "base.html" %} 
{% block title %} About Us {% endblock %} 
{% block heading %} About Us {% endblock %} 
{% block content %}

<style>
    body {
      
      background: rgba(240, 240, 245, 0.905);
      
    }
  p {
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 2.5rem;
    border-radius: 10px;
    background: linear-gradient(tomato, dodgerblue);
    color: lightgoldenrodyellow;
  }

  .container {
    width: 70%;
    display: block;
    justify-content: center;
    border-radius: 10px;

  }
  .return-about {
    margin-left: 180px;
    font-size: 20px;
    margin-top: 20px;
  }
</style>

<div class="container">
<p>
  UNISA Computing is an innovative platform crafted to elevate your academic
  journey by offering a collaborative hub where students can share, access, and
  engage with essential study resources tailored for computer science and IT
  courses at the University of South Africa (UNISA).
</p>
</div>

<div class="return-container return-about">
  <a href="{% url 'home' %}"> &#10094 Return to home</a>
</div>

{% endblock %}
