<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/normalize.css" />
    <link rel="stylesheet" href="assets/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d7e8f7fb4c.js"
      crossorigin="anonymous"
    ></script>
    <script src="assets/script.js"></script>
    <title>UNISA Computing</title>
  </head>
  <body>
    <nav class="nav-bar">
      <span class="heading">
        <h1>UNISA Computing</h1>
        <i class="fa-solid fa-computer"></i>
      </span>
      <ul>
        <li>
          <a href="#" id="modules-select">Modules</a>
          <i class="fa-solid fa-book fa-bar"></i>
        </li>
        <li><a href="#">About </a><i class="fa-solid fa-circle-info fa-bar"></i></li>
        <li><a href="#">Contact Us </a><i class="fa-solid fa-phone fa-bar"></i></li>
      </ul>
    </nav>
    <div class="modules-panel">
      <form class="drop-down" id="the-form">
        <select>
          <option value="" disable selected>Select a module</option>
          <optgroup label="Level 1">
            <option value="1">
              <a href="#"
                >INF1505 - Introduction to Business Information Systems</a
              >
            </option>
            <option value="2">
              <a href="#">INF1511 - Visual Programming I</a>
            </option>
            <option value="3">
              <a href="#">COS1511 - Introduction to Programming I</a>
            </option>
            <option value="4">
              <a href="#">COS1512 - Introduction to Programming II</a>
            </option>
            <option value="5">
              <a href="#">COS1501 - Theoretical Computer Science I</a>
            </option>
            <option value="6">
              <a href="#">COS1521 - Computer Systems - Fundamental Concepts</a>
            </option>
            <option value="7">
              <a href="#"></a>INF1520 - Human Computer Interaction I
            </option>
            <option value="8">
              <a href="#"></a>MAT1503 - Linear Algebra I
            </option>
            <option value="9"><a href="#">MAT1512 - Calculus A</a></option>
          </optgroup>
          <optgroup label="Level 2">
            <option value="">COS2601 - Theoretical Computer Science II</option>
            <option value="">COS2611 - Data Structures</option>
            <option value="">
              COS2614 - Programming - Contemporary Concepts
            </option>
            <option value="">COS2621 - Computer Organisation</option>
            <option value="">COS2626 - Computer Networks</option>
            <option value="">COS2661 - Formal Logic II</option>
            <option value="">
              ICT2621 - Structured Systems Analysis and Design
            </option>
            <option value="">ICT2622 - Object Oriented Analysis</option>
            <option value="">INF2603 - Databases I</option>
            <option value="">STA1610 - Introduction to Statistics</option>
          </optgroup>
          <optgroup label="Level 3">
            <option value="">COS3701 - Theoretical Computer Science III</option>
            <option value="">COS3711 - Advanced Programming</option>
            <option value="">
              COS3721 - Operating Systems and Architecture
            </option>
            <option value="">INF3703 - Databases II</option>
            <option value="">INF3705 - Advanced Systems Development</option>
            <option value="">
              INF3707 - Database Design and Implementation
            </option>
            <option value="">INF3708 - Software Project Management</option>
            <option value="">COS3761 - Formal Logic III</option>
            <option value="">COS3712 - Computer Graphics</option>
            <option value="">
              COS3751 - Techniques of Artificial Intelligence
            </option>
          </optgroup>
        </select>
      </form>
    </div>
    <main class="main">
      <div class="banner">
        <p class="banner-text">
          Unlock Learning with UNISA Computing, Your All-in-One Study Hub
        </p>
        <p class="banner-text banner-text-desc">
          Link Up with Legends to Conquer Mind-Bending Challenges
        </p>
        <ul class="icons">
          <li><i class="fa-solid fa-database"></i></li>
          <li><i class="fa-solid fa-server"></i></li>
          <li><i class="fa-solid fa-network-wired"></i></li>
        </ul>
        <button class="btn">See Modules</button>
      </div>
    </main>
  </body>
</html>
