{% extends "base.html" %}
{% block title %}
Modules
{% endblock %} {% block heading %} Modules 
{% endblock %} 
{% block content %}

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Course Code</th>
      <th>Description</th>
      <th>Level</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
    {% for module in modules %}
    <tr>
      <td>
        <a href="{% url 'modules:detail' module.course_code %}"
          >{{ module.course_code }}</a
        >
      </td>

      <td>
        <a href="{% url 'modules:detail' module.course_code %}"
          >{{ module.title }}</a
        >
      </td>
      <td>{{ module.level_id }}</td>
      <td>{{ module.difficulty_level }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
